<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发布房源信息页面</title>
</head>
<body>
<form action="{% url "poll:uploadPic" %}" method="post">

    <table>地址：<input type="text" name="house_addr" required="required"></table>
    <table>单价：<input type="text" name="house_price" required="required"></table>
    <table>房屋简介：<input type="text" name="house_intro" required="required"></table>
    <table>户型：<input type="text" name="house_type" required="required"></table>
    <table>宜居人数：<input type="text" name="house_num" required="required"></table>
    <table>床铺数量：<input type="text" name="house_bed" required="required"></table>
    <table>床铺规格：<input type="text" name="house_bed_size" required="required"></table>
    <table>房屋描述：<input type="text" name="house_describe" required="required"></table>
    <table>内部情况：<input type="text" name="house_status" required="required"></table>
    <table>交通情况：<input type="text" name="house_traffic" required="required"></table>
    <table>周边情况：<input type="text" name="house_env" required="required"></table>
    <table>配套设施：<input type="text" name="house_set" required="required"></table>
    <table>入住须知：<input type="text" name="house_have_to" required="required"></table>
    <table>押金：<input type="text" name="house_cash" required="required"></table>
    <table>住房要求：<input type="text" name="house_req" required="required"></table>
    <table>预定方式：<input type="text" name="house_way" required="required"></table>
    <table>退订方式：<input type="text" name="house_debook" required="required"></table>
    <table>当前用户 ：<input type="text" name="house_fk" required="required"></table>
    <table>房子的状态：<input type="text" name="house_or" required="required"></table>
    <input type="submit" value="提交">

</form>
</body>
</html>
