<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>房东规则</title>
    <link rel="stylesheet" href="../../static/css/landlord_rule.css">
    <script src="../../static/js/jquery-1.12.4.min.js"></script>
    <script>
        function f() {
            // var a=$("#lab1 a");
            $(window).scroll(function () {
                var b=$(document).scrollTop();
                console.log(b);
                if(b<400){
                    $("#lab1 a").fadeOut(1000)
                }else{
                    $("#lab1 a").fadeIn(2000)
                }
                $("#lab1 a").click(function () {
                    $("html,body").stop().animate({"scrollTop":0})
                })
            })
        }
        f()
    </script>

</head>
<body>
<div id="lab1">
    <a href="" style="position: fixed;right: -80px;bottom: -200px;width: 256px;
    height: 352px;font-size: 80px;text-decoration: none;z-index: 999"><img src="../../static/index/img/background/返回顶部.png" alt=""></a>
</div>
<div id="All">
    <div id="nav">
        <span style="position: absolute;right: 600px;top: 40px;cursor: pointer">首页|</span>
        <span style="position: absolute;right: 500px;top: 40px;cursor: pointer">下载|</span>
        <span style="position: absolute;right: 400px;top: 40px;cursor: pointer">功能|</span>
        <span style="position: absolute;right: 250px;top: 40px;cursor: pointer">更多产品|</span>
        <span style="position: absolute;right: 150px;top: 40px;cursor: pointer">论坛</span>
        <img src="../../static/index/img/background/lemon.jpg" alt="" >
    </div>
    <div id="header" style="padding: 70px">
        <p><h5>【版本更新日期：2018年12月28日】</h5></p>
            <p><h3 style="position: relative;left: 500px">房东规则</h3></p>
            <p >声明</p>
        <div style="text-indent: 40px">
            作为房东，您应当清楚您所在国家、地区或城市中与房产和土地相关的法律、法规、政策是如何约束的。有些国家、地区或城市的法律明确规定对招待房客并收取一定费用的短租行为予以限制甚至禁止；有些国家、地区或城市要求房东登记，在获得许可并取得执照后才能接待房客；有些国家、地区或城市要求房东为短租房源办理卫生许可证，在卫生状况达标并取得执照后才能接待房客。不同国家、地区或城市的法律、法规、政策差别巨大，同时这些规则也可能会被不断修订。因此您应当在同意本规则并在"港湾"平台上发布房源之前首先确保您的行为在当地符合当地的相关规定。除本规则项下约定外，"港湾"将不会因上述内容中的事由为您承担任何责任。
            本规则内凡涉及房屋产权证明材料和房源验真的条款主要适用于中华人民共和国大陆地区房东。若您的房源处在中国大陆以外地区，房屋产权证明材料的明细会有所不同。同时，"港湾"将不对中国大陆以外地区的房源提供验真服务。</div>
            <p style="font-family:华文中宋;font-size:large;font-weight:900;color: deeppink">一、账号注册与房源发布</p>
            <p>1.您需在"港湾"页面注册"港湾"账号，在“用户中心”免费发布房源信息。</p>
            <p>2.发布房源前，您需认真阅读包括本规则在内的"港湾"相关条款规则，以便您了解"港湾"和您的权利义务。</p>
            <p>3.发布房源前，请您确保：
            1）即将发布的房源为您名下财产；或
            2）若该房源为亲友财产时，您已经取得亲友授权；或
            3）若该房源为您的承租财产时，已经取得房屋产权人的转租许可。
            若由于您的原因致使您发布的房源与他人发生任何性质的纠纷，"港湾"将无法承担任何责任。</p>
            <p>4.发布房源时，您需按照"港湾"房源发布规则及标准填写房源相关信息，并提交至"港湾"审核。</p>
            <p>5."港湾"将房源审核结果通过手机短信、"港湾"即时通讯工具信息及/或站内信等方式通知您。如未通过审核，您可根据"港湾"的审核拒绝原因或房源修改建议，重新修改和发布信息并再次提交审核。</p>
            <p>6.房源发布后，您需及时更新已发布房源的各类信息，包括房源照片、设施描述、房价等，并及时维护房源的租住状态，避免纠纷。</p>
            <p style="font-family:华文中宋;font-size:large;font-weight:900;color: deeppink">二、个人房东认证</p>
            <p>1.若您发布您拥有产权的房屋或自住房屋中闲置房间，则可以申请个人房东认证，经过"港湾"审核认证后，您可以享有个人房东特权，如添加个人房东认证标识。</p>
            <p>2.您的个人房东资格由"港湾"统一审核认定，且个人房东认证并非一次性永久有效。"港湾"将不定期对您的个人房东资格进行再次核实认证，一经发现不符合个人房东要求的情况，立即取消您的个人房东认证标识。</p>
            <p>3.若您对认证结果有异议，可通过联系客服的方式，向"港湾"提供个人房东证明（如房产证、房屋租赁合同等）。客服电话：4000107890；客服邮箱：service@gangwan.com。</p>
            <p>4.若您经过个人房东认证后出现以下情况，"港湾"有权立即撤销该您在"港湾"平台上已取得的所有个人房东权益（包括但不限于取消个人房东推广标识、取消并收回已发放奖励、将已发布房源暂时或永久下线）；同时"港湾"有权向您追究因提供虚假信息而给"港湾"和房客造成损失的相应责任。具体情形如下：
            1）您在"港湾"平台上发布了非个人房源；
            2）您在"港湾"平台上以其他非个人房东形态存在（包括但不限于使用多于一个登陆账号发布非个人房源、在同一个登陆账号下发布的多个房源中存在一个甚至多个非个人房源）；
            3）必要时，您无法向"港湾"提供有关个人房东的合法证明材料（如本人为房屋产权所有权人的证明，或房屋合法承租人和出租人授权的证明）。</p>
            <p style="font-family:华文中宋;font-size:large;font-weight:900;color: deeppink">三、房源信息录入及维护</p>
            您了解应准确填写房源描述等信息和谨慎制订交易规则将涉及到您与房客的切身利益。您保证信息的录入与规则的制订是在参照以下规则后经谨慎考虑之后完成的：
            <p>1.您需在发布房源时向房客提供真实的房源地址、周边环境及交通路线等信息，以便房客准确了解房源的所在地及周边环境信息。</p>
            <p>2.您需真实准确地选择房源的相关配套设施，并保证为房客提供与之一致的配套设施。</p>
            <p>3.您需向房客提供房源的真实图片，包括但不限于房屋环境、配套设施、周边环境图片，并确保图片的真实性、准确性、一致性。</p>
            <p>4.您应自主设定房源出租价格。该价格在友好诚信的基础上可随时由您修改。您了解，房源价格涉及此房源技术服务费的缴纳金额和影响您对房客的诚信。</p>
            <p>5.您可根据房源条件及个人情况制定房源的特定使用规则。</p>
            <p>6.您应自主制定交易规则，包括全额退款时限、订单金额、免费取消订单时限、免费提前离店时限及违约金的设定。一经设定，您保证严格执行，否则您将自行承担因违约导致的包括经济损失在内的一切不良后果。您应在合理范围内设定有关规则，且应符合相关法律规定，为保护房客的合法权益，小猪有权对您设定的规则进行审核，若您的规则设置不合理，小猪将向您提供修改建议。</p>
            <p style="font-family:华文中宋;font-size:large;font-weight:900;color: deeppink">四、订单处理与接待入住</p>
            <p>1.房客预订您的任一房源后，"港湾"将通过手机短信、"港湾"即时通讯工具信息和/或站内信方式通知您。</p>
            <p>2.您需在规定时间（特殊活动期间会有所不同，介时详见活动特别说明。）内对房客的预订订单进行处理，通过手机短信或登录"港湾"用户中心确认或拒绝订单。若超时未处理订单，则此订单自动过期作废。</p>
            <p>3.通常情况下，房客于当日09：00：00至当日23：：00：00提交的订单，您应在2小时内对其进行处理订单，否则订单将自动过期作废；房客于当日23：00：01至次日08：59：59提交的订单，您应于次日11：00：00前处理订单，否则订单将自动过期作废。特殊情况下，预订订单处理时限以您的房源参与特定活动的具体要求为准。（注：以上提及时间均为您的当地时间。）</p>
            <p>4.当您接收订单后应为房客保留预订房源。同时，若您的房源位于中国大陆地区，该房客应在您接受订单后16小时内在线上一次性支付订单总额和押金费用；若您的房源位于中国大陆以外地区，该房客应在您接受订单后24小时内在线上一次性支付订单总额和押金费用，否则该订单将过期作废。</p>
            <p>5.您可与房客通过"港湾"提供的在线即时通讯工具进行在线交流。为保证平台交易秩序及用户隐私，"港湾"禁止您和房客在交易完成前互相提供联系方式，包括但不限于手机/电话号码、电子邮件地址、具体地址、除"港湾"以外的其它即时通讯工具号码、账号及任何其它联系方式。</p>
            <p>6.在房客成功支付订单后，系统将将通过手机短信、"港湾"即时通讯工具信息及/或站内信等方式为您推送包括房客联系方式在内的全部订单详情，您也可以通过用户中心进行查询。您将不被允许泄露房客任何信息给其他任何第三方，否则您将自行承担信息泄露的法律责任，同时"港湾"保留对此不当行为追究法律责任的权利。</p>
            <p>7.您应尽快响应房客在线发出的请求，并尽快处理房客的订单。</p>
            <p>8.您应提前与即将入住房客进行联系，提供房源的准确详细地址及交通路线，确保房客可以顺利到达入住地点。</p>
            <p>9.您应随时保持手机畅通，以便房客或"港湾"与您取得联系。</p>
            <p>10.若房客到达入住地点后，对实际房源情况不满而向"港湾"投诉时，您同意，"港湾"有权根据事实对主要责任方作出判断后提出解决建议和办法，并对投诉予以处理；您也可与房客在线下自行协商解决或通过法律途径解决。您同意，您与房客在线下自行达成协议与"港湾"无关，"港湾"不对您与房客间自行达成的协议作出任何解释及负有任何责任。</p>
            <p>11.您同意，在您脱离"港湾"平台与房客在线下达成的交易中，若房客在使用房屋过程中发生任何意外状况、房客在屋内做出的任何不当行为、房客与您就房屋或入住体验产生任何分歧都将被视作您与房客的自主行为。对以上自主行为引发的任何纠纷，您应与房客自行协商解决，"港湾"不对因此行为及其引起的纠纷承担任何责任。</p>
            <p style="font-family:华文中宋;font-size:large;font-weight:900;color: deeppink">五、费用与结算</p>
            <p>1.房源价格由您自主设定，并显示在房源页面上。此价格仅作为房源住宿费用，不包含额外的服务费用、附加收费及押金等。</p>
            <p>2.您需准确填写您的真实收款账户信息，以便房款顺利结算至您的账户。</p>
            <p>3.房客预订房源时，应在入住前提前支付订单总额和押金费用；订单总额和押金费用将暂存于"港湾"担保账户，待房客成功完成入住且一切入住程序符合"港湾"流程及规定后，"港湾"将按照您选择的结算方式进结算。</p>
            <p>4.除预付订单总额及押金费用以外，您应在房客入住前对您可能将收取的额外费用（如：保洁费用、食材费用等）予以说明，若因该额外收取费用部分产生任何争议，则"港湾"将不承担任何责任。</p>
            <p>5.您与房客自行达成的承诺或协议与"港湾"无关，"港湾"不对承诺或协议作出任何解释和承担任何责任。</p>
            <p>6."港湾"提供两种结算形式供您选择：
            1）按日结算：房客每入住一日，"港湾"将于次工作日向您提供的收款账户结算一次房款；
            2）按订单结算：待房客入住完成后，"港湾"将于入住完成的次工作日向您提供的收款账户一次性结算此订单的全部房款。</p>
            以上两种结算方式您可根据个人需求自主选择。
            <p style="font-family:华文中宋;font-size:large;font-weight:900;color: deeppink">六、技术服务费与退款规则</p>
            <p>1."港湾"会收取您在线上获利总金额的10%的款项作为房源发布平台的技术服务费。</p>
            <p>2.此技术服务费将自动从房客向您支付的费用中扣除，您所获得最终收益为扣除10%之后的金额。</p>
            <p>3.技术服务费仅在您获利的前提下收取，未有房客预订的房源或交易未成功的订单不收取技术服务费。</p>
            <p>4.退款规则由您发布房源时自主、灵活设定，同时您承诺您会在合理范围内设定有关规则，且应符合相关法律规定，为保护房客的合法权益，"港湾"有权对您设定的规则进行审核，若您的规则设置不合理，"港湾"将向您提供修改建议。当房客发起退款需求时，"港湾"将按照您预先设定的退款规则予以处理。当您的房客产生违约行为应当予以赔偿时，该笔赔偿金将从您设定的押金中扣除。若您和您的房客对此存在任何异议，请在订单结束后五日内与"港湾"客服人员取得联系；超过五日时，"港湾"将视该订单作为无异议订单。</p>
            <p>5.当您的房客产生违约扣款金额时，其订单总额（违约扣款之前）的10%仍将作为平台技术服务费。对于其余款项包括您与房客协商的违约金，"港湾"将按照您设定的退款规则或您与房客的协议支付到您的收款账户。</p>
            <p>6.当您的房客未支付订单金额便取消订单，"港湾"将不向您收取任何费用。</p>
            <p>7.当您的房客成功支付订单后，在您规定的“全额退款日”之前取消订单时，其支付的订单总额将被全部原路退款，"港湾"将不向您收取任何费用。</p>
            <p>8.房客成功支付订单后，在您规定的“全额退款日”之后取消订单时，"港湾"将根据您设定的退款规则，扣除房客部分/全部订单金额，并收取此扣款金额的10%作为技术服务费。除去技术服务费扣款后的剩余款项将由"港湾"支付至您的收款账户。</p>
            <p>9.若房客入住后提前退房，"港湾"将根据您设定的交易规则，扣除房客部分/全部订单金额，并收取此扣款金额的10%作为技术服务费。除去技术服务费扣款后的剩余款项将由"港湾"支付至您的收款账户。</p>
            <p style="font-family:华文中宋;font-size:large;font-weight:900;color: deeppink">七、房客点评</p>
            <p>1.房客入住后有权对本次入住体验作出真实有效的点评。</p>
            <p>2.房客对房源有效的点评内容均会显示在此房源的页面上。</p>
            <p>3.房客点评内容和数量将作为您在"港湾"的重要信用参考数据之一。</p>
            <p>4.您可对房客的评价予以回复或解释，但不得使用暴力、污秽、侮辱性等的词语攻击、诽谤、敲诈勒索您的房</p>
            <p>5.您同意您在"港湾"平台上对房客点评发布的回复或解释的版权由"港湾"独家享有，未经"港湾"书面同意，您同意不以转载、复制、传播等任何形式在任何非"港湾"的其它网站、应用使用或展示您对房客点评发布的回复或解释。</p>
            <p>6.您不得胁迫、诱导他人作出不真实点评。</p>
            <p>7.您不得采取不正当方式制造或提高自身信用度。</p>
            <p>8."港湾"将保留对您的不当言行追究法律责任的权利。</p>
            <p style="font-family:华文中宋;font-size:large;font-weight:900;color: deeppink">八、房东经营行为管理规则违规行为划分及认定标准：</p>
            <p>1.虚假注册（虚假房源）</p>
            1）同一房源以同一房东身份或不同房东身份重复注册、发布的；
            2）房东向"港湾"提交的相关资质（包括但不限于身份证件信息、企业营业执照、组织机构代码证、税务登记证、房产证、房屋租赁合同等）存在虚假、造假的；
            3）发布的房源信息不真实存在或与实际情况严重不符以及不符合"港湾"房源信息发布规则的其他事项；
            4）您的房源被投诉实际情况与发布信息不符，拒绝"港湾"验真的；
            5）您的房源被投诉卫生状况欠佳导致无法正常入住，拒绝"港湾"验真的；6）因室内财物损毁在您与房客之间产生纠纷以待处理拒绝"港湾"验真的；
            <p>2.虚假交易（刷单）通过非真实交易达到获取订单销量、评价、套取平台奖励、优惠券或帮助房客、媒体平台等第三方获利。刷单行为包括但不限于：</p>
            1）在已知没有真实入住的情况下，房东使用虚假注册账号（或引导其他用户），预订自己经营的房源；
            2）在没有真实入住的情况下，房东使用自己或直系亲属、朋友注册的账号预订自身经营的房源；
            3）在房客已通过非"港湾"渠道预订该房东房源后，房东要求房客通过"港湾"渠道重复预订同一时间的同一房源；
            4）房东使用任意账号帮助房客预订与房东有利益关联的房源。
            <p>3.房东日常经营行为，包括但不限于</p>
            1）您在沟通中使用谩骂、侮辱、人身攻击等言辞及实际入住中，您与房客发生激烈争吵或肢体冲突的行为；
            2）发布虚假信息，包括房源定价不真实、以明显虚假日价扰乱房价秩序、夸大或虚构房源信息等；
            3）在成单前通过在线沟通或其他公开展示的界面，向房客提供联系方式或者引导房客发送联系方式、预定少量入住天数，从而进行线下交易或将原本平台内的订单转直销订单。
            4）未及时处理房客请求（咨询不回复、订单过期）：
            （1）房东在近1个月内，咨询消息多次不回复，首条咨询回复率低于该城市平均水平；
            （2）房东在近3个月内，订单多都次过期，订单成交率低于该城市平均水平；
            5）拒单（房态、房价不准）：
            （1）房态不准确，导致房客投诉和退款；
            （2）房东临时变价等房东方面的原因，导致房客投诉和退款；
            6）订单达成后入住当天或预订房客到达房源地址后，房东无法提供（或入住当天以任何方式告知预订房客无法提供）预订房屋、拒绝接待或当日无法取得联系的行为。
            7）您为房客提供的实际入住房间与预订房间不是同一房间并导致房客投诉的；
            8）房客支付订单前，您未与房客沟通并明示您将收取除房款外的其它费用。在房客支付订单后，您向房客索要订单总额之外且未在房源信息中标明的其它费用而导致房客投诉的；
            9）房屋设施条件或房屋卫生条件未达到正常居住标准而导致房客投诉的；
            10）房东经营类型不合法、经营违禁品、利用房屋进行违法行为、对房客造成人生伤害等情况被有关部门调查、查封。
            <p>违规行为的处理方法：</p>
            1.为确保您发布的房源信息真实、有效，且该房源符合平台及有关法律规定，在房源发布后，"港湾"客户经理会对您的房源进行实地验真。验真时，需要对您的身份信息、房屋状况及房屋权属证明（如房产证、房屋租赁合同、出租人合法授权书等）予以核实。"港湾"会为通过验真的房源添加“已验真”标识，以帮助通过验真房源获得更多有效订单。
            <p>2.验真不是一次性的、永久有效的。当出现下列情形时，"港湾"可能会对您的房源发起再次验真：</p>
            1）您的房源被投诉实际情况与发布信息不符；
            2）您的房源被投诉卫生状况欠佳导致无法正常入住；
            3）因室内财物损毁在您与房客之间产生纠纷以待处理。
            <p>3.为了您与房客能有一个愉快的短租之旅，您同意在与房客的沟通或相处过程中避免不规范、不文明、过激或违法的行为，包括但不限于：</p>
            1）您在沟通中使用谩骂、侮辱、人身攻击等言辞；
            2）实际入住中，您与房客发生激烈争吵或肢体冲突；
            3）您发布虚假信息，包括房源定价不真实、以明显虚假日价扰乱房价秩序、夸大或虚构房源信息等；
            4）您为与房客脱离"港湾"平台直接进行交易；您在有效订单生成前直接或间接诱导房客留下联系方式或主动留联系方式给房客；
            5）为逃避支付部分技术服务费，当房客已明确其入住天数后，您诱导房客在平台上预订少于其真实入住天数，使其可在入住后将额外房款当面支付给您；
            6）您有其他任何诱导房客脱离"港湾"平台交易的行为；
            7）您为未达成交易房客长期留房并导致其他房客投诉；
            8）您为房客提供的实际入住房间与预订房间不是同一房间并导致房客投诉；
            9）房客入住前无法与您取得联系而导致当日无法入住；
            10）房客支付订单前，您未与房客沟通并明示您将收取除房款外的其它费用。在房客支付订单后，您向房客索要订单总额之外且未在房源信息中标明的其它费用而导致房客投诉；
            11）您未及时修换已陈旧或损坏的房屋基本设施，而导致房客投诉；
            12）您未全面打扫房间卫生，影响房客入住体验并导致房客投诉；
            <p>4.对于本章第1、2条中涉及情形，若经工作人员就验真事宜与您多次沟通遭到拒绝或无法取得联系；及若出现本章第3条中涉及的不规范、不文明、过激或违法的行为，"港湾"将视情况作如下处理：</p>
            对于第3.1）、2）种情形，"港湾"会依据您行为的严重性和影响，给予您警告或永久下线处理。
            对于第3.3）、4）、5）、6）种情形，首次发生时，给予您警告处理。再次发生时，给予您限制限制上线3-90天处理。如您拒不整改的，"港湾"将作永久下线处理。
            对于第3.7）、8）、9）、10）种情形，"港湾"会依据您行为的严重性和影响，给予您限制上线3-90天处理。如您拒不整改的，"港湾"将作永久下线处理。
            对于第3.11）、12）种及拒不配合验真的情形，首次发生时，给予您警告及暂时性限制上线处理。再次发生时，给予您限制上线3-90天处理。如您拒不整改的，"港湾"将作永久下线处理。
            "港湾"会通过后台或邮件、手机短信等方式给您发送处理通知。
            <p>5.相关处理方式的具体含义如下：</p>
            警告："港湾"工作人员通知您，明确对某种违规行为提出严肃警告，并责令限期改正。
            限制上线：禁止您所有房源上线，限制天数到期后您可以通过邮件向"港湾"提出书面上线申请（fdsupport@gangwan.com）。
            永久下线：将您所有房源永久下线，您的账号将无法再发布新房源。
            <p>6.若您被限制上线，则限制上线到期后，您可以通过邮件形式发送上线申请至指定邮箱（fdsupport@gangwan.com），邮件中需写明您的用户名、手机号和为避免再次发生类似问题所采取的有效规避措施等内容。"港湾"将在1-5个工作日内受理您的申请。</p>
            <p style="font-family:华文中宋;font-size:large;font-weight:900;color: deeppink">九、其他</p>
            <p>1.若您在"港湾"成功发布房源，则应遵守本规则之规定。</p>
            <p>2.您在经营期间如不认可本规则或违反规则，"港湾"有权对您采取警告、房源下线等处理方式。</p>
            <p>3.本规则发生更新时将在"港湾"房东后台通知您。</p>

<!--
        <div id="boot" style="position: relative;top: 40px;left: 200px; " >

        <p>关于我们</p>
        <p style="font-size:10px;">关于港湾</p>
        <p style="font-size:10px;">加入我们</p>
        <p style="font-size:10px;">联系我们</p>
    </div>
    <div id="boot01" style="position: relative;top: -70px;left: 300px;" >
        <p>网站帮助</p>
        <p style="font-size:10px;">帮助中心</p>
        <p style="font-size:10px;">网站地图</p>
    </div>

    <div id="boot01" style="position: relative;top: -155px;left: 400px;" >
        <p>网站协议</p>
        <p style="font-size:10px;">服务协议</p>
        <p style="font-size:10px;">隐私保护</p>
        <p style="font-size:10px;">房东规则</p>
        <p style="font-size:10px;position: relative;top: -70px;left:80px;">房客规则</p>
        <p style="font-size:10px;position: relative;top: -70px;left:80px;">版权声明</p>
        <p style="font-size:10px;position: relative;top: -70px;left:80px;">免责声明</p>
        <p style="font-size:10px;position: relative;top: -140px;left:180px;">房源上线标准</p>
        <p style="font-size:10px;position: relative;top: -140px;left:180px;">知识产权声明</p>
        <p style="font-size:10px;position: relative;top: -140px;left:180px;">点评发布规则</p>
    </div>
        !-->


</div>
</div>
</body>

</html>