{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name='TTUNION_verify' content='b846c3c2b85efabc496d2a2b8399cd62'>
	<meta name="sogou_site_verification" content="gI1bINaJcL"/>
	<meta name="360-site-verification" content="37ae9186443cc6e270d8a52943cd3c5a" />
	<meta name="baidu_union_verify" content="99203948fbfbb64534dbe0f030cbe817">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	<title>港湾民宿注册页</title>

	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script>
        function get_code() {
            user_tel = $("#user_tel").val();
            $.post('/login/get_phone_code/',{'user_tel':user_tel},function (data) {
                alert(typeof data);
               if (data.Message=="OK"){
                   alert('验证码已经发送到您的手机，请注意查收！');
                   frm_login.login.focus()
               }
            },"json")

        }
    </script>
<body>

	<header class="aui-header">
		<div class="aui-header-box">
			<h1>
				<a href="demo.html" class="aui-header-box-logo"></a>
			</h1>
		</div>
	</header>

	<section class="aui-content">
		<div class="aui-content-box clearfix">
			<div class="aui-content-box-fl">
				<h2>港湾民宿注册页面</h2>

				<div class="aui-form-content">

					<div class="aui-form-content-item" style="display:block">
						<form action="{% url 'login:register' %}" method="post">
                            {% csrf_token %}
							<div class="aui-form-list">
								<input type="text" class="aui-input" id="user_tel" name="user_tel" placeholder="请输入手机号" data-required="required" autocomplete="off">
                                <input type="text" class="aui-input" id="user_tel" name="username" placeholder="请输入昵称" data-required="required" autocomplete="off">
                                <input type="text" class="aui-input" id="user_tel" name="pwd" placeholder="请输入密码" data-required="required" autocomplete="off">
							</div>
							<div class="aui-form-list">
{#								<input type="text" class="aui-input" name="login" placeholder="请证明你不是机器人" data-required="required" autocomplete="off">#}
								<a href="#" class="aui-child aui-child-img">
									<img src="{% static 'img/yzm.png' %}" alt="">
								</a>
							</div>
							<div class="aui-form-list">
								<input type="text" class="aui-input" name="yzm" placeholder="请输入验证码" data-required="required" autocomplete="off">
{#								昵称：<input type="text"  name="username" >#}
                                <input type="button" value="获取手机验证码" onclick="get_code()" class="aui-child">
							</div>
							<div class="aui-form-btn">
								<input type="submit" class="aui-btn" value="注&nbsp;册">
							</div>
							<!--<div class="aui-form-ty">-->
								<!--注册代表你已同意 <a href="#" style="color: #ed4242">「招聘网用户协议」</a>-->
							<!--</div>-->
						</form>
					</div>
				</div>
			</div>
			<div class="aui-content-box-fr">
				<div class="aui-content-box-text">
					<h3>已有帐号:</h3>

                    <a href="{% url 'login:login' %}" class="aui-ll-link">直接登录</a>
					<h3>使用第三方帐号直接登录:</h3>
					<ul class="aui-content-box-text-link clearfix">
						<li><a href="#" class="aui-icon-sina"   title="使用新浪微博帐号登录"></a></li>
						<li><a href="#" class="aui-icon-wechat" title="使用微信帐号登录"></a></li>
						<li><a href="#" class="aui-icon-qq"     title="使用腾讯QQ帐号登录"></a></li>
						<li><a href="#" class="aui-icon-baidu"  title="使用百度帐号登录"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
	<script type="text/javascript">
        $(function(){

			/*tab标签切换*/
            function tabs(tabTit,on,tabCon){
                $(tabCon).each(function(){
                    $(this).children().eq(0).show();

                });
                $(tabTit).each(function(){
                    $(this).children().eq(0).addClass(on);
                });
                $(tabTit).children().click(function(){
                    $(this).addClass(on).siblings().removeClass(on);
                    var index = $(tabTit).children().index(this);
                    $(tabCon).children().eq(index).show().siblings().hide();
                });
            }
            tabs(".aui-form-header","on",".aui-form-content");

        })
	</script>

</body>
</html>
