<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>住房规则</title>
{#    <link rel="stylesheet" href="../../xiu/static/css/Service rules.css">#}
    <link rel="stylesheet" href="{% static 'css/Service rules.css' %}">
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script>
        function f() {
            // var a=$("#lab1 a");
            $(window).scroll(function () {
                var b=$(document).scrollTop();
                console.log(b);
                if(b<1000){
                    $("#lab1 a").fadeOut(1000)
                }else{
                    $("#lab1 a").fadeIn(6000)
                }
                $("#lab1 a").click(function () {
                    $("html,body").stop().animate({"scrollTop":0})
                })
            })
        }
        f()
    </script>
</head>
<body>
<div id="lab1">
    <a href="" style="position: fixed;right: -80px;bottom: -200px;width: 256px;
    height: 352px;font-size: 80px;text-decoration: none;z-index: 999"><img src="{% static 'index/img/background/返回顶部.png' %}" alt=""></a>
</div>
    <div id="All" >
        <div id="nav">
            <span style="position: absolute;right: 600px;top: 40px;cursor: pointer">首页|</span>
            <span style="position: absolute;right: 500px;top: 40px;cursor: pointer">下载|</span>
            <span style="position: absolute;right: 400px;top: 40px;cursor: pointer">功能|</span>
            <span style="position: absolute;right: 250px;top: 40px;cursor: pointer">更多产品|</span>
            <span style="position: absolute;right: 150px;top: 40px;cursor: pointer">论坛</span>
{#            <img src="../../xiu/static/index/img/background/lemon.jpg" alt="" >#}
            <img src="{% static 'index/img/background/lemon.jpg' %}" alt="">
        </div>
        <div id="header" style="padding: 70px">
       <p> <h5>【版本更新日期: 2019年12月28日】</h5></p>
        <p><h3 style="position: relative;left: 500px">房客规则</h3></p>
        <p>声明</p>

        <p>
            作为房客，您清楚"港湾"是信息服务平台。对于"港湾"上房东自主发布的所有信息，"港湾"会尽最大限度地对其准确性、真实性和合法性予以核查。当您发现某些发布的信息疑似为虚假或违法信息时，应立即向"港湾"举报。"港湾"将按照相应的平台规则采取必要的措施。特别注意的是，"港湾"不对中华人民共和国大陆以外地区的房源提供实地验真和图片实拍的服务。请您谨慎选择房源。
        </p>
        <p>
            您明白并且同意，凡您对某个房源进行操作就表明您对本规则已经认真阅读，并且接受本规则项下的约束。如果您对本规则内任何不予认同，您将无权对"港湾"平台的房源进行任何操作。
        </p>

        <p style="font-family:华文中宋;font-size:large;font-weight:900;color: deeppink" >
            一、房间查询与预定
        </p>
        1.您无需注册即可在"港湾"上浏览和搜索您喜欢的房间。<br/>
        2.您可根据"港湾"提供的分类搜索功能，按各个搜索条件搜索房间，也可通过地标搜索房间。<br/>
        3.若您预定房间，您应登录已注册的"港湾"的账号，并返回页面进行房间预定。<br/>
        4.预定房间前，您应仔细阅读房间信息，确保清楚了解房东描述的房间情况，房间价格，收、退款政策等，并接受房东制定的房间使用规则、交易规则等各相关约束，避免纠纷。房间一经预定并支付成功，您与房东即达成交易协议，您应严格遵守相关规则。<br/>
        5.提交预定后，房东会在规定时间内处理您的订单：确认或拒绝您的预定请求。"港湾"会将房东的处理结果通过手机短信、"港湾"即时通讯工具和/或站内信等方式通知与您。如房东在规定时间内未处理您的订单，系统则默认此预订订单过期失效。<br/>
        6.您可与房东通过"港湾"的在线即时通讯工具进行在线咨询和交流。为维护平台交易秩序、保护交易双方的安全及隐私，请不要在线向房东提供和索要联系方式，包括但不限于手机/电话号码、电子邮件地址、具体地址、除"港湾"外的其它即时通讯工具号码、账号及任何其它联系方式，即获得联系方式的方法。<br/>
        7.待预定订单确认并支付成功后，"港湾"会互发交易双方的联系方式，同时将订单及房间信息一并发送与您，您可通过用户中心、手机短信等方式查询获得。<br/>

        <p style="font-family:华文中宋;font-size:large;font-weight:900;color: deeppink" >
            二、房费计算及支付
        </p>
    1.房间查询列表页面默认显示房间的日间夜价格，根据您选择的预定日期，系统将会显示该房间在实际住宿日的确切房价。<br/>
    2.页面显示价格仅为房间房费，不包含房东自行规定的有偿服务费用，额外收费及押金等。"港湾"不向您收取任何费用。除您在线支付的全部订单金额及押金外的费用，房东可能将当面向您收取额外费用（如：保洁费用、食材费用等），若因该额外收取费用部分产生任何争议，则港湾平台将不予承担任何责任。<br/>
    3.提交预付时，页面将提示您房款信息及计算公式，您需要仔细核对房费金额，并清楚了解付款规则。<br/>
    4.房东确认接收您的预定后，您应在规定时间内，通过"港湾"在线成功支付全部订单金额及押金，逾期未成功支付，系统默认此订单过期失效。一般情况下，若您预定的房源处在中国大陆地区，则全部订单金额和押金的支付有效时限为16小时；若您预定的房源处在中国大陆以外地区，则全部订单金额和押金的支付有时限为24小时。特殊情况时，订单总额及押金的支付时限将依照您预定的房源所参与的活动值特别规则而有变化。<br/>
    5.您与房东自行达成的承诺或协议与"港湾"无关，"港湾"不对此承诺或协议作出任何解释和承担任何责任。<br/>

        <p style="font-family:华文中宋;font-size:large;font-weight:900;color: deeppink" >
            三、入住须知
        </p>
    1.入住前，建议您与房东确认详细入住地址，前往入住地点过程中有任何疑问，您可自行与房东联系。<br/>
    2.入住过程中，请您自觉遵守房东的使用规则，爱护屋内环境及设施，确保设施无损坏。若不慎损坏，将由您与房东自行协商达成赔偿协议，"港湾"不予干涉，亦不对此行为负责。<br/>
    3.房屋使用过程中发生的任何意外情况、房东对房客在入住时的任何行为约束、线下交易行为等引起的任何性质的纠纷，应由您与房东自行通过法律途径解决，"港湾"不负有任何性质的协助义务和承担任何形式的责任。<br/>
    4.入住过程中，有任何疑问，建议您及时致电"港湾"客服取得"港湾"的帮助<br/>

        <p style="font-family:华文中宋;font-size:large;font-weight:900;color: deeppink" >
            四、取消订单即退款
        </p>
    1."港湾"上各个房间的交易规则均由房东自主设定，非"港湾"制定；每个房间详情页面和提交预定请求页面都清楚列明了交易规则，明确说明取消预订及退款细则，可能依房间不同而规则不同。<br/>
    2.“全额退款日”：由房东自主设置，若房客于入住日14点的X天【（X*24）小时】之前取消预订，则"港湾"将向房客全额退还线上支付的全部订单金额及押金费用，此天数即为全额退款日。例如：房客预订2012年10月1日入住，房东设置的全额退款日为3天；若房客于2012年9月28日14时前取消预订，在线支付的订单总额即可全额退款至房客账户；若房客于2012年9月28日14时之后（包括14时）取消预订，则需按照房东制定的交易规则扣除您部分/全部订单金额后，"港湾"将剩余费用退款至您的账户。（注：以上提及时间均为您的当地时间。）<br/>
    3.在入住日之前，您可登录"港湾"账号随时取消订单：“用户中心”中执行“取消”预订操作。<br/>
    4.若您在入住日前取消预订，依订单状态不同，订单金额退还分为如下情况：<br/>
    1）尚未完成支付的订单，在取消预订后将不会产生收取任何费用；
    2）已成功支付的订单，若于“全额退款日”之前取消，"港湾"将全额退还您的支付全部房款；
    3）已成功支付的订单，若于“全额退款日”之内取消，将按照房东规定的交易规则执行，扣除您部分/全部订单金额后，剩余部分返还至您的账户，但您在支付中使用的用于抵扣部分费用的抵扣券、优惠券等将不予退还；扣除金额将支付给房东作为您的违约赔偿款。
    5.若您在入住后，不能按照订单约定住满入住天数需要提前退房，将按照房东制定的交易规则执行，扣除您部分/
    全部订单金额后，剩余部分返还至您的账户，但您在支付中使用的用于抵扣部分费用的抵扣券、优惠券等将不予退还；扣除金额将支付给房东作为您的违约赔偿款。<br/>
    6.所有退款均按照付款途径原路返还。应注意，"港湾"只负责执行退款操作，退款到账时间视第三方（如第三方支付平台或银行）而定，您可通过第三方查询路径查询退款状态。<br/>
    7.对于参加特殊活动的房源，其取消订单及退款规则以活动规则说明为准，请您预订时仔细阅读相关规则。<br/>
    8.发生下列情形之一时，"港湾"将有权酌情扣押您的押金、订单总额，或酌情延期处理您的押金：<br/>
    1）根据《中华人民共和国反不正当竞争法》等相关法律法规的规定，您被发现存在疑似为获取房源及房东个人信息而进行的恶意下单和操作的行为。（该类行为包括但不限于在一天之内频繁下单后突然取消全部或部分订单；经举报或"港湾"工作人员在您和房东有据可查的沟通中发现，双方不以预订房间作为唯一目的。）
    2）根据《中国人民共和国宪法》、《中华人民共和国刑法》等相关法律法规的规定，您被房东或小猪工作人员发现并举报在房源内即将进行或已经进行了不正当的或违法的行为。（该类行为包括但不限于聚众赌博、吸毒、倒卖走私商品、实施与淫秽色情有关的行为）。
        <p style="font-family:华文中宋;font-size:large;font-weight:900;color: deeppink" >
            五、入住点评
        </p>
    1.请您入住后对本次入住给出真实评价，例如对房间环境、房东服务及住宿感受等，鼓励房东提高服务能力并供其它房客参考。<br/>
    2.通过"港湾"基础审核后，您的点评内容即会显示在被预订房间页面上，房东可对您的点评进行回复。<br/>
    3.您需保证点评内容客观、真实，不得涉及诽谤、污秽、侮辱等言论。<br/>
    4.您不得发布涉及违法、侵犯他人合法权益或违反"港湾"相关规则、条款的信息。<br/>
    5.您同意您在"港湾"平台上对房东点评发布的回复、解释或图片的版权由"港湾"独家享有，未经"港湾"书面同意，您同意不以转载、复制、传播等任何形式在任何非"港湾"的其它网站、应用使用或展示您对房客点评发布的回复或解释。<br/>
        <p style="font-family:华文中宋;font-size:large;font-weight:900;color: deeppink" >
            六、其他
        </p>
        本规则发生更新时将在"港湾"后台通知您。

    </div>
    </div>
</body>
</html>
