{% load static %}
<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon"  href="{% static 'images/t.png' %}" >
<title>{% block a %}
Single
{% endblock %}</title>
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Custom Theme files -->
<!--menu-->
<script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
<link href="{% static 'css/styles.css' %}" rel="stylesheet">
<!--//menu-->
<!--theme-style-->
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Real Home Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<script>
    $(function () {
        $(".replay2").click(function () {
            a = $('#user_name').val()
            b = $('#comment_fk_user').val()
            c = $('#bcommentid').val()
            d = $('#replay').val()
            h = $("#homeid").val()
            $.ajax({
                "url":'{% url 'detail:replay_comment_1' %}',
                'type':'post',
                'data':{'comm':d,'commentid':c,'home_id':h,'userid':b},
                'dataType':'json',
                'async':false,
            }).success(function (data) {
                if (data.res == 0){
                    alert('失败')
                }if (data.res == 1){
                    alert('成功')
                }
            })
        })
    })
</script>
<body>


<!--header-->
	<div class="navigation">
			<div class="container-fluid">
				<nav class="pull">
					<ul>
						<li><a  href="{% url 'detail:index' %}">港湾名宿</a></li>
						<li><p1><a href="{% url 'order:my_ord' %}">我的订单</a></p1></li>
						<li><p1><a href="{% url 'order:cancel' %}">历史订单</a></p1></li>
                        <li><p1><a href="{% url 'order:landlord' %}">房源订单</a></p1></li>
						<li><a  href="#">条款</a></li>
						<li><a  href="#">隐私</a></li>
						<li><a  href="#">联系</a></li>
					</ul>
				</nav>			
			</div>
		</div>

<div class="header">
	<div class="container">
		<!--logo-->
			<div class="logo">
				<h1><a href="index.html">{{ home_info.house_intro }}</a></h1>
			</div>
		<!--//logo-->
		<div class="top-nav">
			<ul class="right-icons">
				<li><span ><i class="glyphicon glyphicon-phone"> </i>+010 8888-8888</span></li>
                {% if u %}
                    <li><a  href="#"><i class="glyphicon glyphicon-user"> </i>{{ u.user_name }}</a></li>
                    <li><a  href="#"><i class="glyphicon glyphicon-user"> </i>用户中心</a></li>
                    <li><a  href="#"><i class="glyphicon glyphicon-user"> </i>退出</a></li>
                {% else %}
                    <li><a  href="{% url 'order:login' %}"><i class="glyphicon glyphicon-user"> </i>登陆</a></li>
                {% endif %}

				<li><a class="play-icon popup-with-zoom-anim" href="#small-dialog"><i class="glyphicon glyphicon-search"> </i> </a></li>
				
			</ul>
			<div class="nav-icon">
				<div class="hero fa-navicon fa-2x nav_slide_button" id="hero">
						<a href="#"><i class="glyphicon glyphicon-menu-hamburger"></i> </a>
					</div>	
				<!---
				<a href="#" class="right_bt" id="activator"><i class="glyphicon glyphicon-menu-hamburger"></i>  </a>
			--->
			</div>
		<div class="clearfix"> </div>
			<!---pop-up-box---->

				<link href="{% static 'css/popuo-box.css' %}" rel="stylesheet" type="text/css" media="all"/>
				<script src="{% static 'js/jquery.magnific-popup.js' %}" type="text/javascript"></script>
			<!---//pop-up-box---->
				<div id="small-dialog" class="mfp-hide">
					    <!----- tabs-box ---->
				<div class="sap_tabs">	
				     <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
						  <ul class="resp-tabs-list">
						  	  <li class="resp-tab-item " aria-controls="tab_item-0" role="tab"><span>All Homes</span></li>
							  <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>For Sale</span></li>
							  <li class="resp-tab-item" aria-controls="tab_item-2" role="tab"><span>For Rent</span></li>
							  <div class="clearfix"></div>
						  </ul>				  	 
						  <div class="resp-tabs-container">
						  		<h2 class="resp-accordion resp-tab-active" role="tab" aria-controls="tab_item-0"><span class="resp-arrow"></span>All Homes</h2><div class="tab-1 resp-tab-content resp-tab-content-active" aria-labelledby="tab_item-0" style="display:block">
								 	<div class="facts">
									  	<div class="login">
											<input type="text" value="Search Address, Neighborhood, City or Zip" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search Address, Neighborhood, City or Zip';}">		
									 		<input type="submit" value="">
									 	</div>        
							        </div>
						  		</div>
							     <h2 class="resp-accordion" role="tab" aria-controls="tab_item-1"><span class="resp-arrow"></span>For Sale</h2><div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
									<div class="facts">									
										<div class="login">
											<input type="text" value="Search Address, Neighborhood, City or Zip" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search Address, Neighborhood, City or Zip';}">		
									 		<input type="submit" value="">
									 	</div> 
							        </div>	
								 </div>									
							      <h2 class="resp-accordion" role="tab" aria-controls="tab_item-2"><span class="resp-arrow"></span>For Rent</h2><div class="tab-1 resp-tab-content" aria-labelledby="tab_item-2">
									 <div class="facts">
										<div class="login">
											<input type="text" value="Search Address, Neighborhood, City or Zip" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search Address, Neighborhood, City or Zip';}">		
									 		<input type="submit" value="">
									 	</div> 
							         </div>	
							    </div>
					      </div>
					 </div>

					 <script src="{% static 'js/easyResponsiveTabs.js' %}" type="text/javascript"></script>
				    	<script type="text/javascript">
						    $(document).ready(function () {
						        $('#horizontalTab').easyResponsiveTabs({
						            type: 'default', //Types: default, vertical, accordion           
						            width: 'auto', //auto or any width like 600px
						            fit: true   // 100% fit in a container
						        });
						    });
			  			 </script>	
				</div>
				</div>
				 <script>
						$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});
																						
						});
				</script>
					
	
		</div>
		<div class="clearfix"> </div>
		</div>	
</div>
<!--//-->	
<div class=" banner-buying">
	<div class=" container">
	<h3><span>Lor</span>em</h3> 
	<!---->
	<div class="clearfix"> </div>
		<!--initiate accordion-->
		<script type="text/javascript">
			$(function() {
			    var menu_ul = $('.menu > li > ul'),
			           menu_a  = $('.menu > li > a');
			    menu_ul.hide();
			    menu_a.click(function(e) {
			        e.preventDefault();
			        if(!$(this).hasClass('active')) {
			            menu_a.removeClass('active');
			            menu_ul.filter(':visible').slideUp('normal');
			            $(this).addClass('active').next().stop(true,true).slideDown('normal');
			        } else {
			            $(this).removeClass('active');
			            $(this).next().stop(true,true).slideUp('normal');
			        }
			    });
			
			});
		</script>
	</div>
</div>
<!--//header-->
<!---->
{% block lunbo %}
<div class="container">
	<div class="buy-single-single">
			<div class="col-md-9 single-box">
       <div class=" buying-top">
			<div class="flexslider">
                <ul class="slides">
                  {% for foo in pic %}
                    <li data-thumb="{% static 'images/bo2.jpg' %}">
                        <img src="..{{ foo.Image.url }}" style="width: 1000px;height: 500px;" />
                    </li>
                  {% endfor %}
                </ul>
</div>
{% endblock %}
<!-- FlexSlider -->
  <script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" />

<script>
// Can also be used with $(document).ready()
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide",
    controlNav: "thumbnails"
  });
});
</script>

       <script type="text/javascript">
function displayid(id){
var erv = document.getElementById(""+id+"");
if(erv.style.display=="none"){
erv.style.display="";
}
else{
erv.style.display="none";
}
}
</script>
</div>
<div class="buy-sin-single">
			<div class="col-sm-5 middle-side immediate">
					     <h4>房屋情况：</h4>
					     <h5 style="font-family: 方正粗黑宋简体">整套出租:</h5> <p>房屋面积：65平米，房屋户型：{{ home_info.house_type }}</p>
					     <h5 style="font-family: 方正粗黑宋简体">宜住{{ home_info.house_num }}人:</h5><p>房客独享整套房屋</p>
					     <h5 style="font-family: 方正粗黑宋简体">床: </h5><p>共{{ home_info.house_bed }}张，{{ home_info.house_bed_size }}</p>
{#					     <div class="hr_5"></div>#}
<div class="menubox"><div class="title" onclick="displayid('leftmenu06');" title="点击进行显示隐藏操作">个性描述:点击展开⬇</div>
<div id="leftmenu06" style="display:none;">
<p>{{ home_info.house_describe }}
<div class="hr_1"></div>
<div class="title" onclick="displayid('leftmenu06');" title="点击进行显示隐藏操作">点击关闭⬆</div>
</div>
</div>
						 <p><span class="bath4">内部情况</span> : <span class="two">{{ home_info.house_status }}</span></p>
						 <p><span class="bath5">交通情况</span>:<span class="two">{{ home_info.house_traffic }}</span></p>
						<div class="   right-side">
							 <a href="{% url 'order:index' house_id=home_info.id %}" class="hvr-sweep-to-right more">立即订房</a>
					 </div>
					</div>
					 <div class="col-sm-7 buy-sin">
					 	<h4>周边情况</h4>
					 	<p>{{ home_info.house_env }}</p>
                         <h4>配套设施</h4>
					 	<p>{{ home_info.house_set }}</p>
                         <h4>入住须知</h4>
					 	<p>{{ home_info.house_have_to }}</p>
                         <h4>押金及其他费用</h4>
					 	<p>押金:{{ home_info.house_cash }}元<br>加客：不允许加客<br>其他额外费用：请您节约用水，外出管好房门和电器设备！</p>
                         <h4>预定方式</h4>
					 	<p>{{ home_info.house_way }}</p>
                         <h4>退订说明</h4>
					 	<p>{{ home_info.house_debook }}</p>
					 </div>
					 <div class="clearfix"> </div>
					</div>
					 <div class="map-buy-single">

					</div>
					<div class="video-pre">


					</div>
		</div>
{% block c %}


		<div class="col-md-3">
			<div class="single-box-right right-immediate">
		     	<h4>附近房源</h4>

				<div class="single-box-img ">

					<div class="box-img" >
                           <a href="detail.html"><img class="img-responsive" src="{% static 'images/sb1.jpg' %}" alt="" style="margin-top: 20px"></a>
                            <a href="detail.html"><img class="img-responsive" src="{% static 'images/sl1.jpg' %}" alt="" style="margin-top: 23px">
                                <a href="detail.html"><img class="img-responsive" src="{% static 'images/sl2.jpg' %}" alt="" style="margin-top: 16px"></a>
                                <a href="detail.html"><img class="img-responsive" src="{% static 'images/sl3.jpg' %}" alt="" style="margin-top: 18px"></a>
                        <a href="detail.html"><img class="img-responsive" src="{% static 'images/sl4.jpg' %}" alt="" style="margin-top: 19px"></a>
					</div>

                    {% for foo in all_home %}
					<div class="box-text" style="margin-top: 30px">
						<p><a href="{% url 'detail:home_detail' hid=foo.id %}">{{ foo.house_intro }}</a></p>
						<a href="#" class="in-box">查看详情</a>
					</div>
                    {% endfor %}
					<div class="clearfix"></div>
				</div>
		 </div>
        {% endblock %}
{#<h4>房源热评</h4>#}
            <h4 style="margin: 146px 3px;font-family: 方正粗黑宋简体;">房源热评❤</h4>

        {% block comments %}

            <div style="width: 362px;height: 500px;margin-top: -126px">
                <ul>
                    {% for foo in comment %}
                        <li id="user_name">{{ foo.comment_fk_user.user_name }}
                            <input type="text" value="{{ foo.comment_fk_user.id }}" name="userid" style="display: none" id="comment_fk_user">
                            <input type="text" style="display: none" value="{{ foo.id }}" name="commentid" id="bcommentid">
                        <div>{{ foo.comment_connent }}<a href="javascript:;" class="reply_btn" ></a>//:{{ foo.comment_reply }}</div>

                            <input type="text" style="display: none" value="{{ foo.comment_fk_house.id }}" name="home_id" id="homeid">
                            <input type="text" id="replay" name="comm"><input type="button" value="发表" class="replay2">
                    </li>
                    {% endfor %}
                </ul>
            </div>
        {% endblock %}
            <a href="{%url 'detail:comment' hid=home_info.id %}"><input type="button" value="发布评论"></a>
	  </div>
		<div class="clearfix"> </div>
		</div>
	</div>

<!---->
<div class="container">
	<div class="future">
		<h3 >优质房源推荐</h3>
			<div class="content-bottom-in">
					<ul id="flexiselDemo1">			
						<li><div class="project-fur">
								<img class="img-responsive" src="{% static 'images/pi.jpg' %}" alt="" />
									<div class="fur">
										<div class="fur1">
		                                    <span class="fur-money">$2.44 Lacs - 5.28 Lacs </span>
		                                    <h6 class="fur-name">Contrary to popular</h6>
		                                   	<span>Paris</span>
                               			</div>
			                            <div class="fur2">
			                               	<span>2 BHK</span>
			                             </div>
									</div>					
							</div></li>
							<li><div class="project-fur">
									<img class="img-responsive" src="{% static 'images/pi1.jpg' %}" alt="" />
										<div class="fur">
											<div class="fur1">
			                                    <span class="fur-money">$2.44 Lacs - 5.28 Lacs </span>
			                                   <h6 class="fur-name">Contrary to popular</h6>
			                                   	<span>Paris</span>
	                               			</div>
				                            <div class="fur2">
				                               	<span>2 BHK</span>
				                             </div>
										</div>					
								</div></li>
								<li><div class="project-fur">
								<img class="img-responsive" src="{% static 'images/pi2.jpg' %}" alt="" />
									<div class="fur">
										<div class="fur1">
		                                    <span class="fur-money">$2.44 Lacs - 5.28 Lacs </span>
		                                   <h6 class="fur-name">Contrary to popular</h6>
		                                   	<span>Paris</span>
                               			</div>
			                            <div class="fur2">
			                               	<span>2 BHK</span>
			                             </div>
									</div>					
							</div></li>
							<li><div class="project-fur">
								<img class="img-responsive" src="{% static 'images/pi3.jpg' %}" alt="" />	
									<div class="fur">
										<div class="fur1">
		                                    <span class="fur-money">$2.44 Lacs - 5.28 Lacs </span>
		                                    <h6 class="fur-name">Contrary to popular</h6>
		                                   	<span>Paris</span>
                               			</div>
			                            <div class="fur2">
			                               	<span>2 BHK</span>
			                             </div>
									</div>					
							</div></li>
					</ul>
					<script type="text/javascript">
						$(window).load(function() {
							$("#flexiselDemo1").flexisel({
								visibleItems: 4,
								animationSpeed: 1000,
								autoPlay: true,
								autoPlaySpeed: 3000,    		
								pauseOnHover: true,
								enableResponsiveBreakpoints: true,
						    	responsiveBreakpoints: { 
						    		portrait: { 
						    			changePoint:480,
						    			visibleItems: 1
						    		}, 
						    		landscape: { 
						    			changePoint:640,
						    			visibleItems: 2
						    		},
						    		tablet: { 
						    			changePoint:768,
						    			visibleItems: 3
						    		}
						    	}
						    });
						    
						});
			</script>

			<script type="text/javascript" src="{% static 'js/jquery.flexisel.js' %}"></script>
		</div>
	</div>
	
</div>
<!--footer-->
<div class="footer">
	<div class="container">
		<div class="footer-top-at">
			<div class="col-md-3 amet-sed">
				<h4>Our Company</h4>
				<ul class="nav-bottom">
					<li><a href="#">About Us</a></li>
					<li><a href="#">For Sale By Owner Blog</a></li>
					<li><a href="#">Mobile</a></li>
					<li><a href="#">Terms & Conditions</a></li>
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Blog</a></li>
					
				</ul>	
			</div>
			<div class="col-md-3 amet-sed ">
				<h4>Work With Us</h4>
					<ul class="nav-bottom">
						<li><a href="detail.html">Real Estate Brokers</a></li>
						<li><a href="detail.html">Business Development</a></li>
						<li><a href="detail.html">Affiliate Programs</a></li>
						<li><a href="#">Sitemap</a></li>
						<li><a href="#">Careers</a></li>
						<li><a href="#">Feedback</a></li>
					</ul>	
			</div>
			<div class="col-md-3 amet-sed">
				<h4>Customer Support</h4>
				<p>Mon-Fri, 7AM-7PM </p>
				<p>Sat-Sun, 8AM-5PM </p>
				<p>177-869-6559</p>
					<ul class="nav-bottom">
						<li><a href="#">Live Chat</a></li>
						<li><a href="#">Frequently Asked Questions</a></li>
						<li><a href="#">Make a Suggestion</a></li>
					</ul>	
			</div>
			<div class="col-md-3 amet-sed ">
				<h4>Property Services</h4>
				   <ul class="nav-bottom">
						<li><a href="detail.html">Residential Property</a></li>
						<li><a href="detail.html">Commercial Property</a></li>
						<li><a href="login.html">Login</a></li>
						<li><a href="#">Register</a></li>
						<li><a href="#">Short Codes</a></li>
					</ul>	
					<ul class="social">
						<li><a href="#"><i> </i></a></li>
						<li><a href="#"><i class="gmail"> </i></a></li>
						<li><a href="#"><i class="twitter"> </i></a></li>
						<li><a href="#"><i class="camera"> </i></a></li>
						<li><a href="#"><i class="dribble"> </i></a></li>
					</ul>
			</div>
		<div class="clearfix"> </div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="col-md-4 footer-logo">
				<h2><a href="index.html">REAL HOME</a></h2>
			</div>
			<div class="col-md-8 footer-class">
				<p >Copyright &copy; 2015.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
			</div>
		<div class="clearfix"> </div>
	 	</div>
	</div>
</div>
<!--//footer-->
</body>
</html>