<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
请认真阅读并理解以下内容，其中以加粗方式显着标识的文字，请着重阅读，慎重考虑。

本协议是您与小猪网站（简称“本站”，网址：www.xiaozhu.com）运营业务者及所有者北京快跑信息科技有限公司（以下简称为“小猪”）之间就所订立的契约。请您仔细阅读本协议，您点击“ 同意并继续 ”按钮后，本协议即构成对双方有约束力的法律文件。

第1条相关定义

1.1小猪超级会员：小猪超级会员是为小猪用户打造的高级会员服务，通过提供高品质的用户服务及增值服务，让用户的住宿体验变得更加舒适和省钱，全方位提升用户的住宿品质。

第2条本站服务条款的确认和接纳

2.1本站所提供的小猪超级会员活动的所有权和运作权归小猪所有。

2.2用户点击同意本协议的，即视为用户确认自己同意接受小猪超级会员相关服务的条款，且同意按本协议内容履行，如产生用户相关责任的，同意承担相应法律责任。

2.3如果您在18周岁以下，您只能在父母或监护人的监护参与下方能参与体验该服务。

2.4小猪保留在中华人民共和国大陆地区法施行之法律允许的范围内独自决定拒绝服务，关闭用户账户，清除或编辑内容等相关权利。

2.5您同意并理解，如您的超级会员资格到期，小猪将终止向您提供超级会员服务。

2.6 小猪超级会员开通后，您在已开通的服务期内中途主动取消服务或终止资格的，将不获得为开通本服务而支付费用的退还。

第3条服务资格，费用及期限

3.1小猪超级会员活动仅针对小猪个人用户（不包括企业用户，代理用户等）开放参与资格，并可享受小猪所提供的相关活动服务。

3.2 小猪可能会根据本服务的整体规划，对本服务相关权益细则，收费标准，方式等进行修改和变更，前述修改，变更，小猪将在相应服务页面进行展示。用户若需要获取，使用本服务，请先提前了解清楚当时关于本服务的收费标准，方式等信息。已按原超级会员服务费用标准购买服务的用户，其会员资格以及所享有的会员服务在已取得的会员资格期限内不受影响，无需补充缴纳差额。

3.3 用户可付费购买一定期限的小猪超级会员资格，超级会员资格为自开通之日起享有，当期超级会员权益仅可在当前有效期内使用，不可延续。

第4条会员权益

您成为小猪超级会员后，可享受的权益以小猪官方网站公布的信息为准。为更好的向会员提供服务，小猪有权基于自身业务发展需要调整全部或部分会员权益。小猪就前述权益调整将在相应服务页面进行通知或公告，您可以通过小猪官方网站查询最新的会员权益内容。

第5条用户会员使用注意事项

5.1提交申请开通时，用户同意并提交本网站注册所需的个人资料，并保证其提供的注册资料真实，准确，完整，合法有效，用户注册资料如有变动的，应及时更新其注册资料。如果用户提供的注册资料不合法，不真实，不准确，不详尽，用户需承担因此引起的相应责任及后果，并且小猪保留终止用户参与该活动的权利。

5.2服务开通后，用户应谨慎合理的保存，使用其用户名和密码，不得将在本站注册获得的账户借给他人使用，否则用户应承担由此产生的全部责任，同时小猪在该种情况下有权做出独立判断，可采取暂停或关闭用户参与资格等措施。

5.3用户同意，小猪拥有通过邮件，短信电话等形式，向其发送相关活动信息等必要信息的权利。

5.4用户同意，其应合理使用其享有的会员权益，除为实现用户自身的会员利益外，不得利用其享有的权益非法获利，不得以任何形式售卖其所享有的权益，不得滥用其所享有的权益，如因用户不当行为致小猪合理怀疑的或判定的，小猪有权暂停或关闭用户该活动的权益，此外，用户需承担因此引起的相应责任及后果。

第6条 发票事宜

根据国家税法规定，自2017年7月1日起，企业索取的增值税普通发票需填写纳税人识别号，不符合规定的发票，不得作为合法税收凭证。申请发票需提供完整的名称及纳税人识别号。用户可在购买超级会员时申请开具电子发票并填写相关信息，成功购买超级会员后可申请开具发票。

第7条 协议更新及用户关注义务

7.1根据国家法律法规变化及网站运营需要，小猪有权以网站公告的方式进行不定期地制定、修改本协议及/或相关服务规则，暂停、取消和修改本协议条款，修改后的协议一旦被公告在本站上即生效，并代替原来的协议。用户应及时关注不时发布的各项服务规则及本协议的变更。若不同意相关规则及条款修改的，应及时终止与本站的协议。如用户继续使用本网站提供的服务的，即视为同意更新后的协议。小猪建议您在使用本站之前阅读本协议及本站的公告。

第8条 法律管辖和适用

8.1本协议的订立、执行和解释及争议的解决均应适用在中华人民共和国大陆地区适用之有效法律（但不包括其冲突法规则）。 如发生本协议与适用之法律相抵触时，则这些条款将完全按法律规定重新解释，而其它有效条款继续有效。如缔约方就本协议内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，任何一方均可向北京市石景山区人民法院提起诉讼。

第9条 其他

9.1小猪网站所有者是指在政府部门依法许可或备案的小猪网站经营主体。

8.2如因不可抗力或其它本站无法控制的原因使本站活动服务无法及时提供或无法按本协议进行的，小猪会合理地尽力协助处理善后事宜。

8.3用户除遵守该服务协议外，仍应同时遵守小猪《服务协议》及《小猪隐私政策协议》。

8.4小猪超级会员用户自购买之日起开始计算，至正式服务期到期当日自动终止。

8.5本协议内容中以黑体、加粗、下划线、斜体等方式显著标识的条款，请用户着重阅读。


</body>
</html>