{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单详情</title>
    <script src="{% static 'js/jquery-1.12.4.min.js ' %}"></script>
    {% load status_ord %}
    {% comment %}<script>

        
        function cha() {
            $.post('{% url "order:landlord" %}',{"id":$('#ser').val()},function(data){
            if(data.res == 1){
                alert('查询成功')
            }if(data.res == 0){
                alert('查询失败')
            }
        })
        }
    </script>{% endcomment %}


</head>
<body style="text-align: center">
<br>
<div style="width: 200px;height: 10px;margin-left: 48px">
    <a href="{% url 'detail:index' %}"><img style="width: 200px;height: 100px;" src="{% static 'img/5671aebc2bde91492f2e539bb702536.png' %}" alt="" ></a>

</div>
{% if errmsg %}

{% endif %}
{% block ok %}
    <form action="{% url 'order:landlord' %}" method="post">
    {% csrf_token %}
    <input type="text" name="ser">
    <input type="submit" value="查询" >
    <div>{{ errmsg }}</div>

</form>
{% endblock %}


<div style="margin-left: 360px;margin-top: 50px;text-align: center;position: relative;width: 800px;height: 100px;" id="ord">
{% if hname %}


        <table class="table table-condensed" border="1">
    <h1>我的房源订单 </h1>
    <tr>
       <th>入住人</th>
       <th>入住人手机号</th>
       <th>入住房间</th>
       <th>入住时间</th>
       <th>离开时间</th>
       <th>总金额</th>
       <th>订单状态 </th>
    </tr>
            {% for foo in hname|mod %}
    <tr>
            <td>{{ foo.0 }}</td>
            <td style="width: 100px">{{ foo.1 }}</td>
            <td>{{ foo.2 }}</td>
            <td>{{ foo.3 }}</td>
            <td>{{ foo.4 }}</td>
            <td>{{ foo.5 }}</td>
            <td>{{ foo.6 }}</td>
    </tr>
    {% empty %}


    {% endfor %}
</table>

{% endif %}
</div>

</body>
</html>